.searchItemContainer {
    border: 1px solid #5e7ceb83;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 2px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.title {
    font-size: 20px;
    color: #0071c2;
}

.distance {
    font-size: 13px;
}

.taxiOption {
    font-size: 13px;
    background-color: #008009;
    color: white;
    width: max-content;
    padding: 3px;
    border-radius: 5px;
}

.subtitle {
    font-size: 13px;
    font-weight: bold;
}

.features {
    font-size: 13px;
}

.cancelationOption {
    font-size: 13px;
    color: #008009;
    font-weight: bold;
}

.cancelationSubtitle {
    font-size: 13px;
    color: #008009;
}

.detailsContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.rating {
    display: flex;
    justify-content: space-between;
}

.ratingStatus {
    font-weight: 500;
}

.ratingCount {
    background-color: #0071c2;
    color: white;
    padding: 5px;
    font-weight: bold;
    border: none;
}

.detailsText {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.price {}

.priceOption {}

.availability {}