.hotelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.hotelWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.bookNowBtn {
    position: absolute;
    top: 10px;
    right: 0px;

    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.title {
    font-size: 24px;
}

.address {
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 10px;

}

.distance {
    color: #0071c2;
    font-weight: 500;
}

.priceHighlight {
    color: #008009;
    font-weight: 500;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imagesWrapper {
    width: 33%;
}

.hotelImge {
    width: 100%;
    object-fit: cover;
}

.hotelDetials {

    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.detailsText {
    flex: 3;
}

.title {}

.description {
    font-size: 14px;
    margin-top: 20px;
}

.detailsPrice {
    flex: 1;
    background-color: #ebf3ff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detailsPrice>h1 {
    font-size: 17px;
    color: #555;
}

.detailsPrice>span {
    font-size: 13px;
}

.detailsPrice>h2 {
    font-weight: 200;
}


.reserveBtn {
    padding: 10px 20px;
    border: none;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

/* Slider Style */

.slieder {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: #16191c2c;
    z-index: 999;
    display: flex;
    align-items: center;

}

.sliderWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sliderImg {
    width: 80%;
    height: 80vh;
}

.cancleSlider {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    background-color: rgb(60, 11, 11);
    cursor: pointer;
}


.arrow {
    margin: 20px;
    font-size: 40px;
    color: #0071c2;
    cursor: pointer;
    z-index: 999;
}