.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;

}

.listSearch {
    flex: 1;
    background-color: #e5ab0b;
    padding: 40px 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}

.title {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.item>label {
    font-size: 12px;
}

.item>input {
    height: 30px;
    border: none;
    padding: 5px;

}

.item>span {
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* above Style converted to css file to js file */
.options {
    padding: 10px;
}

.optionItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
}

.optionInput {
    width: 50px;
    padding: 5px 3px;
}

.btn {
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
}

.listResult {
    flex: 3;
}